

/*Nav bar */
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-family:"Poppins", sans-serif;

}
header ::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
}
nav{
    float:right;
}
nav ul{
    margin: 0;
    padding:0;
    list-style: none;

}

nav li{
    display:inline-block;
    margin-left:70px;
    padding-top: 50px;
    padding-bottom: 50px;
    position:relative
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: relative; 
}

nav a::after {
    content: '';
    height: 3px;
    width: 100%;
    background: rgb(9, 126, 235);
    position: absolute;
    bottom: -8px;
    opacity: 0;
    transition: opacity 300ms; 
}

nav a:hover::after { 
    opacity: 1;
}


/* Footer */

.footer-container{
    margin:20px auto;
    width: 100%;
    padding:50px 15%;
    background: black;
    font-family: 'Poppins',sans-serif;
    color:#FFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container div{
    text-align: center;
}

.footer-container div h3{
    margin-bottom:30px;
    letter-spacing: 1px;
}
.useful-links a{
    display:block;
    text-decoration: none;
    color:aqua;
}

.newsletter>form input{
    width:400px;
    height:45px;
    border-radius:5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;

}

.newsletter > form button{
    background: transparent;
    border: 2px solid #FFFF;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;

}

.socials{
    margin-top: 30px;

}

.socials i{
    font-size: 30px;
    margin:10px;
    cursor:pointer ;
}



/* Container for product images on homepage */
.slideshow-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

@media only screen and (max-width:600px){
    .Slides{
        margin:20px auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Slides img{
        width:100px;
        height:700px;
    }

    .text-box{
        width:100px;
        height:100px;

    }
    
}
.Slides {
    display: flex;
    justify-content: center;
    margin:20px auto;
    width:auto;
}


.Slides img{
    width:700px;


}

/* Tetx-contianer inside product images on home page flex box */
.text-box{
    width:200px;
    height:200px;
    background-color: black;
    color:white;
    margin:100px auto;
    padding:10px 15%;
    border-radius:15px;
    box-shadow: 0 12px 8px -4px 	#1F51FF;
    font-family: 'Poppins',sans-serif;
}



/* about section of the home page */
.about-header>h2{
    width:100%;
    height:50px;
    margin-top:300px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}



@media only screen and (max-width:600px){
    .about-header{
        text-align: center;
        width:100px;
        margin:10px auto;
    }
}

@media only screen and (max-width:600px){
    .about-container{
        width:100px;
        height:800px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-container p{
        font-size:10px;
        margin:10px auto;
        margin:5px auto;
    }

    .about-container img{
        width:100px;
        height:100px;
        margin:0 auto;
    }
}
.about-container {
    width: 1000px;
    max-height: 600px;
    margin: 0 auto; /* Adjusted margin for better positioning */
    display: flex;
    flex-direction: row wrap;
}


.about-container > img {
    max-width: 250px;
    max-height: 250px;
    margin:20px;
}
.about-container>p{
    margin:40px;
    max-width: 600px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width:600px){
    .vision-container{
        width:100px;
        height:50px;
        display:flex;
        align-content: center;
        flex-direction: column;

    }

    .vison-container img{
        width:100px;
        height:100px;
        margin:0 auto;
    }
}

/* Vision section of the home page */
.vision-header > h2{
    width:100%;
    height:50px;
    margin-top:30px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}

.vision-container{
    width:1000px;
    height:800px;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
}

.vision-container > img{
    width: 250px;
    height: 250px;
    margin:20px;
}

.vision-container>p{
    margin:40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* Partner's section of the homepage */
.partner-header{
    width:100%;
    height:50px;
    margin-top:50px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}

/* flex box that contain the partner logos */
.partner-logos{
    display:flex;
    width:1000px;
    height:600px;
    margin: 0 auto;
    flex-direction:row;
}

/* Styling for logo-partners */
.logo-partner {
    width: 800px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 100px;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-partner>header>h2{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.logo-partner > img{
    margin-left: 20px;
    width:200px;
    height:200px;
}

.logo-media>header>h2{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
.logo-media{
    width:400px;
    height:300px;
    margin-left:50px;
    margin-bottom:100px;
    border-radius: 24px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-media > img{
    width:400px;
    height:200px;
}

/* Creating the HTML contact forms */
.contact-header{
    width:100%;
    height:50px;
    margin-top:30px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
}

.contact-us{
    
    background:white;
    margin:0 auto;
    width:652px;
    height:499.56px;
    border-radius:5px;
    box-shadow: 0 3px 10px;
    display: flex;
    flex-direction: row;
}

/* Specifying the size of the fields*/
.form-fields{
    width:622px;
    height:83.19px;
    margin-left: 19px;
    margin-top:10px;

}

/* Styling for user's name in contact form */
.form-fields label[for="name"] {
    width:42.22px;
    height:19px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

/* Input field with id name in HTML contact form */
.form-fields > input#name{
    width:622px;
    height:40px;
    font-family: 'Poppins',sans-serif;
}

/* Styling for user's email address field */
.form-fields label[for="email"] {
    width:42.22px;
    height:19px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

/* Styling input with id email */
.form-fields > input#email{
    width:622px;
    height:40px;
    font-family: 'Poppins',sans-serif;
}

.form-fields label[for="Queries"] {
    width:42.22px;
    height:19px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

.form-fields > textarea{
    width:622px;
    height:40px;
    font-family:'Poppins',sans-serif;
}
.form-fields> .submit-btn{
    margin-top: 40px;
    width:622px;
    height: 42px;
    font-family: 'Poppins',sans-serif;
    border-radius: 50px;
    background: blue;
    color: #FFFF;
}

.modal-container{ /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-left:25%;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
    visibility: hidden;
  }

/* Modal for form field */

.modal-hidden{
   margin:100px auto;
   display:flex;
   margin-left:80px;
   flex-direction: column;
   text-align:center;
   width:450px;
   height:450px;
   background-color: white;
   color:black;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
   border:1px solid #000;
   border-radius:10px;
}

.modal-hidden img{
    width:200px;
    height:200px;
    margin:10px auto;
}

.modal-hidden h2{
    font-family:"Poppins",sans-serif;
    font-size:30px;
}

.modal-hidden p{
    font-family: "Arial",sans-serif;
    font-size: 20px;
    margin:0 auto;
}

.modal-hidden button{
    width:100px;
    height:50px;
    font-family: "Poppins",sans-serif;
    margin:10px auto;
}






/*Product css*/

/* Styling the product image for product page */
.product-image{
    margin:20px auto;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    background-color:black;
    border-radius: 10px;
}

/* Heading for console */
.header-text{
    font-size:50px;
    color:white;
    font-family:'Poppins',sans-serif;
}



/* product information wrapper/container that stores the information about CPU,
   RAM, Screen, Battrey, Gameplay Performance*/
.product-info{
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color: black;
    margin:10px auto;

    

}

.screen-battrey{
    margin:20px auto;
    position:relative;
    width:80%;
    height:800px;
    display:flex;
    justify-content: space-between;

}

.screen{
    margin: 10px;
    width:800px;
    background-color: white;
    border-radius: 10px;
}

.screen img{
    width:600px;
    height:600px;
}
.screen-text{
    bottom:0;
    position: absolute;
    width:800px;
    height:200px;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
}

.battrey{
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    width:500px;
    background-color: #FFFF;
    border-radius: 10px;
}

.fa{
    font-size: 300px;
    color:#0FFF50;
    margin-top: 130px;
    margin-bottom:20px;
}

.battrey-text{
    bottom:0;
    position:absolute;
    width:500px;
    height:200px;
    font-family:"Poppins",sans-serif;
    font-size: 20px;
    margin-top:5px;

}




.header-info{
    width:100%;
    font-family:"Poppins",sans-serif;
    font-size:20px;
    color:white;
}
.grid-item{
    position:relative;
    width:900px;
    height:700px;
    border-radius:px;
    background-color:white;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    margin:15px auto;
}

.img-container{
    margin:10px auto;
    width:700px;
    height:400px;
}




.img-container img{
    margin:0 auto;
    width:100%;
}


.text-container{
    position:absolute;
    width:900px;
    height:100px;
    background-color: white;
    bottom:0;
    color:black;
    font-family:"Poppins",sans-serif;
    font-size:18px;
}

/* Container that stores the content for the gameplay performance section of the product page */
.gameplay-performance{
    width:100%;
    margin: 20px auto;

}


.low-latency{
    width:100%;
    margin:20px auto;
    display:flex;
    flex-flow:row wrap;
    text-align:center;
    justify-content: center;
}

.latency-header{
    font-family:"Poppins",sans-serif;
    color:white;
    font-size:50px;
    justify-content: center;

}

.latency-item{
    align-content: center;
    width:500px;
    height:250px;
    margin:0 15px;
    background-color: white;
    border-radius: 10px;
}

.latency-text{
    margin:20px auto;
    width:1600px;
    height:200px;
    background-color: white;
    border-radius:10px;
    font-size: 30px;
    font-family: "Poppins",sans-serif;
}
.latency-item img{
    width:300px;
    height:200px;
    margin: 0 auto;
}

.compatible-games{
    width:100%;
    margin:20px auto;
    font-family: "Poppins",sans-serif;
    font-size:50px;
    color:white;

}
.game-header{
    width:100%;
    margin:20px auto;
}
.steam{
    width:1600px;
    height:400px;
    display:flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    margin:20px auto;
    text-align: center;

}

.empty img{
    width:400px;
    height:400px;
    margin:0 15px;
}

.text{
    width:700px;
    height:200px;
    background-color: white;
    border-radius:10px;
    font-family: "Poppins",sans-serif;
    font-size:20px;
    color: black;
}

.emulators{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.emulator-item{
    display:flex;
    position: relative;
    justify-content: center;
    width:600px;
    height:700px;
    background:white;
    border-radius:10px;
    margin:15px;
    text-align: center;
}

.emulator-item img{
    width:500px;
    height:500px;
}

.emu-text{
    width:600px;
    height:200px;
    background-color: white;
    font-family: "Poppins",sans-serif;
    font-size:25px;
    position: absolute;
    bottom: 0px;
    color: black;
}

/* Styling the Reviews Header */
.Reviews{
    width:100%;
    margin:20px auto;
    justify-content: center;
    text-align:center;
}

.reviews-header{
    font-family:"Poppins",sans-serif;
    font-size:50px;
    color:white;
}

.container-review{
    margin:20px auto;
    width:1792px;
    height:100%
}

/* Specifying the dimensions of flexbox containing video tiles */
.video-container-grid{
    width:1792px;
    height:100%;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-wrap: wrap;
}

/* Specifying the dimensions of each video tile */
.video-tiles{
    width:540px;
    height:400px;
    background-color: white;
    border-radius: 10px;
    margin:15px auto;
}

/* Formatting the videos to fit the dimensions of the tile */
.video-tiles iframe{
    border-radius:10px;
    width:540px;
    height:420px; 
}


/*Store page*/

.store-header{
    font-size:30px;
    font-family: "Poppins",sans-serif;
}

.products-disp{
    margin:20px auto;
    width:100%;
    height:100%;
    justify-content: center;
    text-align: center;
}



.store-products{
    margin:10px auto;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Product cards on store page */
.product-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:500px;
    height:700px;
    border-radius:10px;
    text-align: center;
    justify-content: center;
    margin:10px auto;
    display: flex;
    flex-direction: column;

}

.product-card img{
    width:400px;
    height:400px;
    margin:0px auto;
}

.product-text{
    font-family:"Poppins",sans-serif;
    margin:5px auto;
}

.price{
    font-size:22px;
    font-family:"Poppins",sans-serif;
    margin:5px auto;
}

.buttn button{
    border: none;
    outline: 0;
    width:100%;
    height:110px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    font-family: "Poppins",sans-serif;

}


.buttn:hover{
    opacity:0.7;
}

/*Specifying the dimensions for the cart page */

.shopping-cart{
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title{
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;

}

/* total for the cart page */

.total{
    width:50%;
    height:500px;
    height: 500px;
    margin:10px auto;
    background-color:white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
}

.total h2{
    margin:0 auto;
    width: 50%;
    height:60px;
    border-bottom:1px solid #E1E8EE;
    color: #000;
    font-size:30px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
}

.disp-total{
    font-size:20px;
    font-family: "Poppins",sans-serif;
}

.purchase-btn{
    height:20px;
    margin-left:10px;
    border: none;
    outline:none;
    font-family: "Poppins",sans-serif;
}

/* changing states for the purchase button */
.purchase-btn :hover{
    background-color: rgb(14, 188, 63);
    color: white;
    border-radius: 10px;
}


.return-btn{
    height: 15px;
    border:none;
    outline: none;
    margin-left:10px;
    font-family:"Poppins",sans-serif
}

/* changing states for the return button */

.return-btn :hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}


@media screen and (max-width:600px){
    .item{
        width:100px;
        height:1000px;
        display:flex;
        flex-direction:column;
    }
}


/* item wrapper for the cart page */

.item{
    width:50%;
    border-radius:10px;
    margin: 10px auto;
    padding: 20px 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: visible;
}

.item-img img{
    width:120;
    height:120px;
}
.item-desc{
    margin:5px auto;
    margin-top:20px;
    font-size: 22px;
    font-family:"Poppins",sans-serif;
}

/* Styling for the quantity buttons */
.quantity {
    padding-top: 20px;
    margin-right: 60px;
  }

.quantity input{
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.quantity button[class*=btn] {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-align: center;
    }



.quantity img{
    width:20px;
    height:20px;
    font-size: 15px;
    margin-right:5px;

}

   


    






















